spring:
  application:
    name: wishlist

  datasource:
    url: jdbc:postgresql://localhost:5432/wishlist_db
    username: postgres
    password: "0000"
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: none  # отключаем авто-обновление
    show-sql: true
    properties:
      hibernate:
        format_sql: true

  flyway:
    enabled: true
    baseline-on-migrate: true
    baseline-version: 0

  rabbitmq:
    host: localhost
    port: 5672

  cache:
    type: redis

  data:
    redis:
      host: localhost
      port: 6379
      password:

server:
  port: 8080
