name: CD

on:
  push:
    branches: [ main ]

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: goose-in-grass
          password: ${{ secrets.GOOSEINGRASS }}

      - name: Build and push Docker image
        uses: docker/build-push-action@v4
        with:
          context: .
          push: true
          tags: |
            goose-in-grass/wishlist:latest
            goose-in-grass/wishlist:${{ github.sha }}

      - name: Log out from Docker Hub
        run: docker logout

      - name: Deploy to server via SSH
        uses: appleboy/ssh-action@v0.1.10
        with:
          host: ${{ secrets.REMOTE_HOST }}
          username: ${{ secrets.REMOTE_USER }}
          password: ${{ secrets.REMOTE_PASS }}
          script: |
            docker pull goose-in-grass/wishlist:${{ github.sha }}
            docker stop my_container || true
            docker rm my_container || true
            docker run -d --name my_container -p 80:8080 goose-in-grass/wishlist:${{ github.sha }}
